In [1]:
import boto3
import pandas as pd
from io import StringIO
from datetime import datetime as dt

In [2]:
src_bucket = 'etl-p2-data'
    
s3 = boto3.resource('s3')
bucket = s3.Bucket(src_bucket)
objects = [obj for obj in bucket.objects.all()]

In [3]:
def list_of_files(bucket):
    files = [obj.key for obj in bucket]
    return files

In [4]:
def read_csv_to_df(bucket, key, decoding = 'utf-8', sep = ','):
    csv_obj = bucket.Object(key=key).get().get('Body').read().decode(decoding)
    data = StringIO(csv_obj)
    df = pd.read_csv(data, delimiter=sep)
    return df

In [5]:
def extract(bucket):
    files = [key for key in list_of_files(objects)]
    # print(files)
    df = pd.concat([read_csv_to_df(bucket, obj) for obj in files], ignore_index=True)
    return df

In [7]:
def transformations(df):
    
    df.dropna(inplace=True)
    df['date'] = pd.to_datetime(df['date'])
    df = df.groupby([ 'symbol', df['date'].dt.year], as_index=False).agg(
                                                              opening_price=('open', 'min'), 
                                                              closing_price=('close', 'min'), 
                                                              minimum_price=('low', 'min'),
                                                              maximum_price=('high','max'),
                                                              daily_traded_volume=('volume','sum'),
                                                              avg_opening_price=('open', 'mean'), 
                                                              avg_closing_price=('close', 'mean'), 
                                                              avg_minimum_price=('low', 'mean'),
                                                              avg_maximum_price=('high','mean'),
                                                              avg_daily_traded_volume=('volume','mean')
                                                                                )
    df['$_change_closing_price'] = df['closing_price'] - df['opening_price']
    df['%_change_closing_price'] = (df['$_change_closing_price']/df['closing_price'])*100
    df = df.round(decimals=2)
    
    df['Year'] = ''
    
    df.loc[df.index[range(0,len(df),4)], 'Year'] = "2014"
    df.loc[df.index[range(1,len(df),4)], 'Year'] = "2015"
    df.loc[df.index[range(2,len(df),4)], 'Year'] = "2016"
    df.loc[df.index[range(3,len(df),4)], 'Year'] = "2017"

    cols = list(df.columns.values)
    cols.insert(1, cols.pop(cols.index('Year')))
    df = df.loc[:, cols]
    
    return df

In [8]:
def etl_report():
    df = extract(bucket)
    df = transformations(df)
    
    print(df)

In [10]:
def main():
    src_bucket = 'etl-p2-data'
    
    s3 = boto3.resource('s3')
    bucket = s3.Bucket(src_bucket)
    objects = [obj for obj in bucket.objects.all()]
    
    test_report = etl_report()
    print(test_report)

In [11]:
main()

     symbol  Year  opening_price  closing_price  minimum_price  maximum_price  \
0         A  2014          38.30          38.47          38.09          61.22
1         A  2015          33.18          33.37          33.12          43.59
2         A  2016          34.21          34.80          34.15          48.63
3         A  2017          45.93          46.49          45.74          70.93
4       AAL  2014          25.07          25.36          25.06          54.64
...     ...   ...            ...            ...            ...            ...
1982   ZION  2016          38.88          38.99          38.43          52.20
1983    ZTS  2017          28.48          28.40          28.14          45.24
1984    ZTS  2014          40.30          39.65          37.73          55.38
1985    ZTS  2015          38.98          39.33          38.26          54.15
1986    ZTS  2016          52.49          52.51          52.00          73.58

      daily_traded_volume  avg_opening_price  avg_closing_price  \
0               572795464              54.12              54.12
1               645331754              39.59              39.60
2               524961956              43.34              43.37
3               464185914              59.33              59.34
4              3124304404              38.86              38.92
...                   ...                ...                ...
1982            623452328              44.27              44.25
1983           1015299846              34.03              34.06
1984            870016319              46.13              46.10
1985            947876473              47.83              47.83
1986            676240752              61.07              61.13

      avg_minimum_price  avg_maximum_price  avg_daily_traded_volume  \
0                 53.64              54.58               2272997.87
1                 39.23              39.94               2560840.29
2                 42.97              43.73               2083182.37
3                 58.92              59.73               1849346.27
4                 38.23              39.55              12398033.35
...                 ...                ...                      ...
1982              43.79              44.71               2483873.82
1983              33.75              34.33               4028967.64
1984              45.56              46.61               3452445.71
1985              47.35              48.24               3761414.58
1986              60.70              61.51               2694186.26

      $_change_closing_price  %_change_closing_price
0                       0.17                    0.44
1                       0.19                    0.57
2                       0.59                    1.70
3                       0.56                    1.20
4                       0.29                    1.14
...                      ...                     ...
1982                    0.11                    0.28
1983                   -0.08                   -0.28
1984                   -0.65                   -1.64
1985                    0.35                    0.89
1986                    0.02                    0.04

[1987 rows x 14 columns]
None